[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Tilda terminal
Comment=
Exec=/usr/bin/tilda -h
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

